<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	<title>{{indexTitle}}</title>
  </head>
  <body>
    <h1>Welcome {{screamIt userName}}</h1>
	<p>This is main page</p>
{{>footer}}
  </body>
</html>
